{% extends "base.html" %}

{% block content %}

<head>
    <style>
body {
    text-align: center;
}
form {
    display: inline-block;
}
</style>
</head>
    <h1>Patient Info: </h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=40) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.age.label }}<br>
            {{ form.age(size=40) }}<br>
            {% for error in form.age.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hospital.label }}<br>
            {{ form.hospital(size=40) }}<br>
            {% for error in form.hospital.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mrn.label }}<br>
            {{ form.mrn(size=40) }}<br>
            {% for error in form.mrn.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.height.label }}<br>
            {{ form.height(size=40) }}<br>
            {% for error in form.height.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.weight.label }}<br>
            {{ form.weight(size=40) }}<br>
            {% for error in form.weight.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}
